yapf
pylint
pytest
tensorflow
keras
#numpy==1.22
tensorflow-addons
tensorflow-datasets
segmentation-models
Pillow
scikit-image
matplotlib
sacred
gdown
pymongo
pyyaml
pandas
opencv-python
scikit-learn
datasets
